# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
kkoin/blockchain.lock
kkoin/transactions.lock
*.hive
*.g.dart
*.lock
