# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
kkoin/blockchain.lock
kkoin/transactions.lock
*.hive
kkoin_test/accounts.lock
kkoin_test/blockchain.lock
kkoin_test/transactions.lock
kkoin/accounts.lock
*.g.dart
